 <div class="bg-white d-flex justify-content-between" style="border-bottom: 1px solid #d9e0e5;">
  <div class="d-flex gap-2 align-items-center">

    <div class="d-flex align-items-center gap-2 ms-5">
      <img src="../../../assets/Back Button.svg" alt="img" style="height: 40px; width: 40px;" (click)="routingService.goBack()"/>
      <h1>{{ veriableService.getActiveVariableName() }}</h1>
    </div>
  </div>
    <div>
      <!-- <div>
        <button class="px-4 py-2 border-0 text-white">Save</button>
      </div> -->
      <div class="d-flex gap-3 m-2" *ngIf="veriableService.contact">
        <button class="px-3 py-2 border-0 text-white" (click)="addContactForm()">Add Contact</button>
      </div>
      <div class="d-flex gap-3 m-2" *ngIf="veriableService.viewDoc">
        <button class="px-3 py-2 border-0 text-white" (click)="sandContractForm()">Sand</button>
      </div>
      <div class="d-flex gap-3" style="margin: .2rem;" *ngIf="veriableService.contact===false || veriableService.viewDoc===false">
        <div class="p-3 rounded-circle" style="background-color: rgba(238, 238, 238, 1);">
        <img src="../../../assets/ic_bell.svg" alt="img"/>
      </div>
          <img src="../../../assets/setting.svg" alt="img"/>
      </div>
    </div>
  </div>

  <!-- <hr> -->
