button{
    background-color: rgba(52, 161, 244, 1);
}
.notification{
    height: 22px;
    width: 20px;
    background-color: rgb(50, 50, 240);
    position: relative;
    top: -2px;
    left: 77px;
    border-radius: 50%;
}