<div class="stepper" >
    <div class="stepper-cart d-flex justify-content-center align-items-center h-100 w-100">
        <div class="sign-in-right rounded d-flex justify-content-center bg-white p-3">
            <div
                class="sign-in-right-cart text-start  d-flex justify-content-center align-items-center flex-column gap-2">
                <img src="../../assets/Check.svg" />
                <h1>Thanks, {{companyName}}</h1>
                <p>Your new company account is ready to use.</p>
                <!-- <div class="d-flex gap-2 w-100"> -->
                <button type="button" class="btn btn-primary w-50" (click)="verifyAccount()">Lets go!</button>
                <!-- </div> -->

            </div>
        </div>
    </div>
</div>
<!-- <h1>the id is :{{route.snapshot.params['id'].toString()}}</h1> -->