.stepper{
    height: 100vh;
    background-image: url('../../../assets/stepper-background.svg');
    background-size: cover;

    .stepper-cart{
        width: 30rem;
        padding: 2.5rem;
    }

}
input{
    color: #94A3B8;
  }
  button{
    width: 80%;
    height: 40px;

    
}
p{
    margin: 0;
}
h1{
    font-weight: 700;
    margin: 0;
}
.active {
    background-color: rgba(52, 161, 244, 1);
    color: white;
  }