<table class="table caption-top table-bordered table-striped" *ngIf="veriableService.contact">
    <thead>
      <tr>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
        <!-- <th scope="col">entity Type</th> -->
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of allContacts">
        <td scope="row" (click)="receivemail(items._id)">{{items.name }}</td>
        <td>{{items.email }}</td>
        <!-- <td>{{items.entityType}}</td> -->
        <td><img src="../../../assets/delete.svg" alt="img"/></td>
      </tr>
    </tbody>
  </table>

<!-- <div class="w-100"> -->
  <div class="d-flex flex-column justify-content-center align-items-center w-100" style="height: 90vh;" *ngIf="veriableService.addContactForm">
    <div class="bg-white rounded d-flex flex-column justify-content-center align-items-center p-3 gap-4 " style=" width:90% ;">
      <!-- <div class="w-100">
        <img src="../../../assets/cross.svg" class="float-end position-relative" style="top: -40px; right: -35px; width: 50px;"/>
      </div> -->
      <!-- <div style="width: 80%; height: 80%;"> -->
      <div class="d-flex gap-3 w-100 justify-content-center">
        <button  type="button"  [ngClass]="individualContactForm ? 'btn btn-primary' : 'border-primary btn text-primary bg-white' " (click)="individualButtonFun()">Individual Contact</button>
        <button  [ngClass]="companyContactForm ? 'btn btn-primary' : 'border-primary btn text-primary bg-white' " (click)="companyButtonFun()">Company Contact</button>
      </div>
      <form class="row d-flex flex-wrap p-5 " *ngIf="individualContactForm">
        <div class="col-6 py-3">
          <label>Full Name</label>
          <input type="text" placeholder="Muneeb Ullah" [(ngModel)]="individualForm.name">
        </div>
          <div class="col-6 py-3">
          <label>Email</label>
          <input type="email" placeholder="muneebjutt0099@gmail.com" [(ngModel)]="individualForm.email"/>
        </div>
        <!-- <span class="text-center">---------------------optional--------------------------</span> -->
          <div class="col-6 py-3">
          <label>Phone</label>
          <input type="number" placeholder="Phone" [(ngModel)]="individualForm.phone"/>
        </div>
        <!-- <div class="d-flex flex-wrap gap-3 justify-content-center"> -->
          <div class="col-6 py-3">
            <label>Street Address</label>
            <input type="text" placeholder="Street Address" [(ngModel)]="individualForm.street">
          </div >
            <div class="col-6 py-3 flex-column d-flex">
            <label>City</label>
            <input type="text" placeholder="City" [(ngModel)]="individualForm.city"/>
          </div>
            <div class="col-6 py-3">
            <label>State</label>
            <input type="text" placeholder="State" [(ngModel)]="individualForm.state"/>
          </div>
            <div class="col-6 py-3 flex-column d-flex">
            <label>Zip</label>
            <input type="number" placeholder="Zip" [(ngModel)]="individualForm.zip"/>
          </div>
            <div class="draggable-container col-6 py-3">
            <label>Country</label>
            <input type="text" placeholder="Pakistan" cdkDrag [(ngModel)]="individualForm.country"/>
          </div>
          <div class="example-box col-12 text-center p-3" cdkDrag>
            <button class="btn btn-primary" (click)="companyFormSubmittedFun()">Save</button>
          </div>
       
          <!-- </div> -->
        </form>
      <div class="row d-flex flex-wrap p-5" *ngIf="companyContactForm" >
        <div class="col-12 py-2">
          <label>Company Legal Name</label>
          <input type="text" placeholder="First Name" >
        </div>
        <div class="col-6 py-2">
          <label>Full Name</label>
          <input type="text" placeholder="First Name" [(ngModel)]="companyForm.name">
        </div>
          <div class="col-6 py-2">
          <label>Email</label>
          <input type="email" placeholder="muneebjutt0099@gmail.com" [(ngModel)]="companyForm.email"/>
        </div>
          <div class="col-6 py-2">
          <label>Phone</label>
          <input type="number" placeholder="Phone" [(ngModel)]="companyForm.phone"/>
        </div>
        <span class="text-center">---------------------optional--------------------------</span>
        <!-- <div class="d-flex flex-wrap gap-3 justify-content-center"> -->
          <div class="col-12 py-2">
            <label>Street Address</label>
            <input type="text" placeholder="Street Address" width="98%" [(ngModel)]="companyForm.street">
          </div >
            <div class="col-6 py-2 d-flex flex-column">
            <label>City</label>
            <input type="text" placeholder="City" [(ngModel)]="companyForm.city"/>
          </div>
            <div class="col-6 py-2">
            <label>State</label>
            <input type="text" placeholder="State" [(ngModel)]="companyForm.state"/>
          </div>
            <div class="col-6 py-2 d-flex flex-column">
            <label>Zip</label>
            <input type="number" placeholder="Zip" [(ngModel)]="companyForm.zip"/>
          </div>
            <div class=" col-6 py-2" >
            <label>Country</label>
            <input type="text" placeholder="Pakistan" [(ngModel)]="companyForm.country"/>
          </div>
          <div class="example-box col-12 text-center p-3" cdkDrag>
            <button class="btn btn-primary" (click)="companyFormSubmittedFun()">Save</button>
          </div>
       
          <!-- </div> -->
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>
</div>