<!-- <div class="d-flex justify-content-around  w-100"> -->
  <!-- <div class="bg-white rounded w-100 p-3"> -->
  <table class="table table-bordered">
      <thead>
        <tr> 
          <th scope="col">Templete Name</th>
          <th scope="col">Updated By</th>
          <th scope="col">Draft Count</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Action</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of templete">
          <td scope="row">{{items.name}}</td>
          <td>{{items.status}}</td>
          <td>{{items.email}}</td>
          <td>{{items.with}}</td>
          <td><img src="{{items.action}}" /></td>
        </tr>
      </tbody>
    </table>
  <!-- </div> -->
  <!-- </div> -->