<div class="sign-in d-flex justify-content-center align-items-center h-100"  >
    <div class="sign-in-cart d-flex" style="width: 60%;">
        <img src="../../assets/loginpage.png" class="rounded-start"/>
    <div class="sign-in-right rounded-end d-flex justify-content-center bg-white">
        <div class="sign-in-right-cart  d-flex justify-content-center align-items-center flex-column gap-3">

            <h1>Sign In for an Account</h1>
            <p>Welcome back! please enter your detail</p>
            <input type="email" placeholder="Enter Yours Email" required [(ngModel)]="user.email"/>
            <input type="password" placeholder="Enter Yours Password" [(ngModel)]="user.password"/>
            <div class="d-flex justify-content-between w-100" required>
                <div class="d-flex gap-2 w-50">
                    <input type="checkbox" style="width: 20px; height: 20px;" [(ngModel)]="user.checkboxChecked" />
                    <span>Rember Me</span>
                </div>
                <a class = "text-decoration-none" routerLink='/reset'>Forget Password?</a>
            </div>
        <button  type="button" class="btn btn-primary" (click)="logInfun()" [disabled]="!isSignInButtonEnabled()">Sign In</button>
        <div  class="d-flex">
            <p>Don't have an account?</p>
            <a class = "text-decoration-none" routerLink="/signup" (click)="routingService.goToSignup()"> Sign Up</a>
        </div>
        <!-- </div> -->
    </div>
</div>
</div>
</div>
