<div class="sidebar d-flex dropdown align-items-center flex-column bg-white h-100 gap-3"  [ngClass]="{'show': sidebarOpen, 'hide': !sidebarOpen}">
    <div class="sidebar-toggle"  (click)="toggleSidebar()">
        <img src="../../../assets/burger-menu.svg" width="45" class="pt-2"/>
      </div>
      <a href="/dashboard"
      class="sidebar-title nav-link d-flex fs-4 py-4 align-items-center justify-content-around text-white w-100">
      <div>{{this.veriableService.userName}}</div>
      <div class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../assets/hamburgermenu.svg" style="width: 35px; border: 2px solid white;" class=" rounded-circle" (click)="getCompaniesFun()"/>
        </div>
        <!-- <div class=""> -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let items of veriableService.companyName" let i = index><a class="dropdown-item text-white" href="#">{{items.compName}}</a></li>
            <li><a class="dropdown-item text-white" href="#">Personal Dashboard</a></li>
            <li><span class="dropdown-item text-white" (click)="createAccount($event)">+ Create New Account</span></li>
        </ul>
    <!-- </div> -->
    </a>
    <div class="d-flex flex-column gap-5">
        <ul class=" list-group">
            <li  class="list-group-item border-0 p-3" (click)="documentfun()"
                [ngClass]="veriableService.document ? 'sidebar-content-cart' : ''">
                <a  class="nav-link ">
                    <img src="../../../assets/Group1.svg" class="me-2" width="16" height="16" />
                    Document
                </a>
            </li>
            <li  class="list-group-item border-0 p-3"
                [ngClass]="veriableService.templete ? 'sidebar-content-cart' : ''" (click)="templetefun()">
                <a  class="nav-link">
                    <img src="../../../assets/Group1.svg" class="me-2" width="16" height="16" />
                    Template
                </a>
            </li>
            <li  [ngClass]="veriableService.contact ? 'sidebar-content-cart' : ''"
                class="list-group-item border-0 p-3" (click)="contactfun()">
                <a  class="nav-link ">
                    <img src="../../../assets/Group1.svg" class="me-2" width="16" height="16" />
                    Contacts
                </a>
            </li>
            <li  [ngClass]="veriableService.setting ? 'sidebar-content-cart' : ''"
                class="list-group-item border-0 p-3" (click)="settingfun()">
                <a  class="nav-link ">
                    <img src="../../../assets/Group1.svg" class="me-2" width="16" height="16" />
                    Settings
                </a>
            </li>
        </ul>
        <div class=" d-grid gap-3 p-4 border border-light">
            <label for="uploadIndividualFile">
                <div class="sidebar-middle-content d-flex text-center align-items-center rounded p-4 flex-column ">
                    <img src="../../../assets/Upload.svg"/>
                    <p >Upload <span style="color: rgba(52, 161, 244, 1);"> Document </span> to {{veriableService.userName}} Dashboard</p>
                    <input class="d-none" type="file" id="uploadIndividualFile" name="uploadIndividualFile"
                        accept="application/pdf" (change)="onFileSelected($event)" />
                </div>
            </label>
            <div class="py-3 sidebar-middle-down-content">
                <span [ngClass]="veriableService.document ? 'upload-cart' : ''" class="p-3"
                    (click)="documentfun()">Document</span>
                <span [ngClass]="veriableService.templete ? 'upload-cart ' : ''" class="p-3 "
                    (click)="templetefun()">Templete</span>
            </div>
        </div>

            <ul class="list-group">
                <li [routerLinkActive]="['link-active']" (click)="accountfun()" class=" list-group-item border-0 p-3"
                    [ngClass]="veriableService.account ? 'sidebar-content-cart' : ''">
                    <a [routerLink]="['account']" class="nav-link">
                        <img src="../../../assets/Vector.svg" class="bi me-2" width="16" height="16" />
                        <span>My Account</span>
                    </a>
                </li>
                <li class=" list-group-item border-0 p-3"
                    [ngClass]="veriableService.support ? 'sidebar-content-cart' : ''">
                    <a [routerLink]="['setting']" class="nav-link">
                        <img src="../../../assets/Vector.svg" class="bi me-2" width="16" height="16" />
                        <span>Support</span>
                    </a>
                </li>
                <li class="list-group-item border-0 p-3"
                    [ngClass]="veriableService.logout ? 'sidebar-content-cart' : ''">
                    <a class="nav-link">
                        <img src="../../../assets/Vector.svg" class="bi me-2" width="16" height="16" />
                        <span (click)="logout()">LogOut</span>
                    </a>
                </li>
            </ul>
 
    </div>
    <span class="sidebar-bottom">The Contract v2.6.00</span>
</div>