<div class="change-pass d-flex justify-content-center align-items-center h-100">
    <div class="change-pass-cart d-flex">
        <img src="../../assets/reset.svg" class="rounded-start"/>
    <div class="change-pass-right rounded-end d-flex justify-content-center bg-white">
        <div class="change-pass-right-cart  d-flex justify-content-center align-items-center flex-column gap-3">
<!-- <div> -->
            <h1>Change Password</h1>
            <p>Enter the email address associated with your account and we will send you a link to reset your password.</p>
            <div class="text-start d-flex flex-column gap-3 w-100">
            <label>New Password</label>
                <input type="password" placeholder="Enter Yours password" [(ngModel)]="newPassword" required/>
                <label>Confirm Password</label>
                <input type="password" placeholder="Enter Yours password" [(ngModel)]="confrmPassword" required/>
            </div>
        <button  type="button" class="btn btn-primary" (click)="changePass()" >Countinue</button>
    </div>
    <!-- </div> -->
</div>
</div>
</div>

