<div class="setting d-flex  justify-content-around  w-100">
<div class="bg-white rounded  justify-content-between align-items-center gap-4 p-2" style="height: 80vh ; width:20% ;">
  <div class="d-flex justify-content-between ">
  <span>Folder</span>
  <img src="../../../assets/add_button.svg" [ngClass]="createFolder ? 'create-folder' : ''" (click)="createFolderfun()"/>
</div>
  <div *ngIf="createFolder" class="bg-white p-3" style="height: 100vh; width: 100vh;">
    <label>Create Folder</label>
    <input placeholder="Folder Name"/>
  </div>

      <ul class="p-0">
        <li class="d-flex gap-3 p-3 " [ngClass]="" style="list-style: none;" *ngFor="let folder of folders">
          <img src="../../../assets/folder.svg" alt="img"/>
          {{ folder.name | titlecase }}</li>
      </ul>
 
</div>
<div class="bg-white rounded" style=" width: 70%;">
<table class="table caption-top table-bordered table-striped">
    <thead>
      <tr> 
        <th scope="col">Documents</th>
        <th scope="col">Status</th>
        <th scope="col">Email Tracking</th>
        <th scope="col">With</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of documents">
        <td scope="row" (click)="openDocument(items._id)" style="cursor: pointer;">{{items.docName}}</td>
        <td >
          <span class="draft">{{items.status || 'status'}}</span>
        </td>
        <td>{{items.email || 'status'}}</td>
        <td>{{items.with || 'status'}}</td>
        <td><img src="../../../assets/delete.svg" (click)="deleteRow(items._id)" style="cursor: pointer;"/></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div>

</div>


<!-- <div class="container">
  <h2>Modal Example</h2> -->
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
    
      <!-- Modal content-->
      <!-- <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div> -->
