<div class="d-flex justify-content-around w-100 h-auto">
    <!-- <div class="bg-white rounded " style="height: 75vh; width:20% ;"></div> -->
    <div class="bg-white rounded d-flex flex-column gap-3" style=" width:70% ;">
      <div class="d-flex  w-100 justify-content-center rounded-top p-3" style="background-color:rgba(229, 238, 255, 1);
      ;">
        <p style="color: rgba(52, 161, 244, 1);
        ;">👋 Hi There! The below data is used to assist us in pre-populating your documents and forms only!</p>
      </div>
      <form class="row gap-3 p-3">
        <div class="col-10 d-flex flex-column">
          <label>Phone</label>
          <input type="text" placeholder="Phone">
        </div>
          <div class="col-5">
          <label>Default Jurisdiction (State)</label>
          <input type="text" placeholder="Punjab"/>
        </div>
          <div class="col-5">
          <label>Default Choice of Law (State)</label>
          <input type="text" placeholder="Punjab"/>
        </div>
          <div class="col-5">
          <label>Default Venue</label>
          <input type="text" placeholder="Punjab"/>
        </div>
          <div class="col-10">
          <label>Corporate form (e.g. corporation, LLC etc.). Must be the formation your company is registered as.</label>
          <input type="text" placeholder="Professional Corporation"/>
        </div>
          <div class="col-6">
          <label>State of Formation - In what state was the company formed.</label>
          <input type="text" placeholder="Professional Corporation"/>
          </div>
          <hr>
          <div class="col-10">
          <label>Street Address</label>
          <input type="text" placeholder="Street Address">
        </div >
          <div class="col-5">
          <label>City</label>
          <input type="text" placeholder="City"/>
        </div>
          <div class="col-5">
          <label>State</label>
          <input type="text" placeholder="State"/>
        </div>
          <div class="col-5">
          <label>Zip</label>
          <input type="text" placeholder="Zip"/>
        </div>
          <div class="col-5">
          <label>State</label>
          <input type="text" placeholder="State" cdkDrag/>
        </div>
      </form>
    </div>
  </div>
